<style>
    .unifidiv_#name# {
        margin:0;
        background:url('#backgroundImg#') ;
        background-size: cover;
    }
    .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 5px;
        font-size: 10px;
        line-height: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .link {
        text-decoration: none !important;
        color: white;
    }
</style>
<div class="eqLogic-widget eqLogic allowResize unifivideo unifidiv_#name#" style="width: 350px;height: 198px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"  data-version="dashboard" >
    <div><a href="#eqLink#" class="link">#name#</a></div>
    <div class="footer">
        <a class="btn cmd" style="display:inline" data-cmd_id="#disableRecordCmd_id#" title="disableRecord" onclick="jeedom.cmd.execute({id: #disableRecordCmd_id#});"><i class="fa fa-stop"></i></a>
        <a class="btn cmd" style="display:inline" data-cmd_id="#enableRecordCmd_id#" title="enableRecord" onclick="jeedom.cmd.execute({id: #enableRecordCmd_id#});"><i class="fa fa-play"></i></a>
        <a class="btn cmd" style="display:inline" data-cmd_id="#enablePrivacyFilterCmd_id#" title="enablePrivacy" onclick="jeedom.cmd.execute({id: #enablePrivacyFilterCmd_id#});"><i class="fa jeedom-volet-ferme"></i></a>
        <a class="btn cmd" style="display:inline" data-cmd_id="#disablePrivacyFilterCmd_id#" title="disablePrivacy" onclick="jeedom.cmd.execute({id: #disablePrivacyFilterCmd_id#});"><i class="fa jeedom-volet-ouvert"></i></a>
        //<a class="btn cmd" style="display:inline" data-cmd_id="#volumeSet_id#" title="VolumeSet" onclick="jeedom.cmd.execute({id: #volumeSet_id#});"><i class="fa-volume-control-phone"></i></a>
        <a class="btn cmd" style="display:inline" data-cmd_id="#takeScreenshot_id#" title="takeScreenshot" onclick="jeedom.cmd.execute({id: #takeScreenshot_id#});"><i class="fa fa-camera"></i></a>
    </div>

</div>

